<?xml version='1.0' encoding='utf-8'?>
<odoo>
        <menuitem id="menu_hospital_root"
                  name="Hospital"

                  sequence = "-100"/>

        <menuitem id="menu_hospital_master"
                  name="Patient Details"
                  parent = "menu_hospital_root"
                  sequence = "0"/>


        <menuitem id="menu_hospital_Appointment"
                  name="Appointments"
                  parent = "menu_hospital_root"
                  sequence = "0"/>

        <menuitem id="menu_patient_tag"
                  name="Configurations"
                  parent = "menu_hospital_root"
                  sequence = "0"/>

        <menuitem id="menu_cancel_appointment"
                  name="Cancel Appointment"
                  parent = "menu_hospital_Appointment"
                  action="action_cancel_appointment"
                  sequence="0"/>


</odoo>